<div class="hero-section">
    <div class="hero-upper">
        <div class="container">
            <h1 class="hero-heading">
                    <span class="hero-heading-main">Linkedin overload?
                    </span>
                <small class="hero-heading-desc">Find similar content to what you define as relevant.
                </small>
            </h1>
            <div class="hero-promotion clearfix">
                <div class="hero-img">
                    <img src="../images/browser.png" alt="" class="hero-pic">
                </div>
                <div class="hero-connect">
                    <div class="hero-connect-lable">connect with linkedin<br>
                        free & no registration!
                    </div>
                    <div class="hero-connect-btn">
                        <a href="#" class="button">build a smart filter now
                        </a>
                    </div>
                    <div class="hero-connect-desc">Build a reference model for your target
                        interest and our intelligence engine will filter.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-lower">
        <div class="container">
            <div class="hero-features clearfix">
                <ul class="features-list">
                    <li class="features-item-list">
                        <div class="feature-item">
                            <img src="../images/i_group.svg" alt="" class="feature-item-pic">
                            <div class="feature-item-description">Works on any screen.</div>
                        </div>
                    </li>
                    <li class="features-item-list">
                        <div class="feature-item">
                            <img src="../images/lockcircle.png" alt="" class="feature-item-pic">
                            <div class="feature-item-description">Your data is secure.</div>
                        </div>
                    </li>
                    <li class="features-item-list">
                        <ul class="features-checklist">
                            <li class="features-checklist-item"><span>Stay current with less time & spam.</span>
                            </li>
                            <li class="features-checklist-item"><span>Engage relevant conversations.</span>
                            </li>
                            <li class="features-checklist-item"><span>Makes social work for your business.</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>