<div class="howSection clearfix">
    <div class="container">
        <h2 class="howSection__heading">
            How?
        </h2>
        <div class="howSection__img">
            <img src="../images/iMac.png" alt="Mac Monitor" class="howSection__pic">
        </div>
        <div class="howSection__content">
            <div class="howSection__content__text">
                Mark the conversations that<br>
                represent your interest and save<br>
                them as your desired target
            </div>
            <div class="howSection__content__button">
                <a href="#" class="button">build a smart filter now
                </a>
            </div>
        </div>

    </div>
</div>