<div class="infoSection">
    <div class="container">
        <div class="infoSection__upper">
            <ul class="infoListUpper">
                <li class="infoListUpper__item">
                    <h2 class="infoListUpper__item__header">How much it cost?<br>
                        <small class="infoListUpper__item__small">It is free. we will extend the feautures<br>
                            to cater for enterprise needs but your<br>
                            personal account will stay free.
                        </small>
                    </h2>
                </li>
                <li class="infoListUpper__item">
                    <h2 class="infoListUpper__item__header">Is my account secure?<br>
                        <small class="infoListUpper__item__small">We do not keep any of your personal<br>
                            data , passwords or even emails . We<br>
                            follow the strick guideline of linkedin.
                        </small>
                    </h2>
                </li>
                <li class="infoListUpper__item">
                    <h2 class="infoListUpper__item__header">Do you keep my data?<br>
                        <small class="infoListUpper__item__small">Yes, you only need a modern browser<br>
                            like Google Chrome,Mozilla Firefox or<br>
                            Safari.
                        </small>
                    </h2>
                </li>
            </ul>
        </div>
        <div class="infoSection__lower">
            <div class="infoButton">
                <a href="#" class="infoButton__link">
                    <img src="../images/leftarrow.png" alt="Button" class="infoButton__img">
                </a>
            </div>
            <ul class="infoListLower">
                <li class="infoListLower__item">
                    <img src="../images/avatar.png" alt="Avatar" class="infoListLower__item__pic">
                    <span class="infoListLower__item__text">
                        <span class="infoListLower__item__text--first">“
                        </span>
                        It is free. we will extend the feautures<br>
                        to cater for enterprise needs but your<br>
                        personal account will stay free.<br>
                        <span class="infoListLower__item__text infoListLower__item__text--author">
                            -Jorge Araluce
                        </span>
                        </span>
                </li>
                <li class="infoListLower__item">
                    <img src="../images/avatar.png" alt="Avatar" class="infoListLower__item__pic">
                    <span class="infoListLower__item__text">
                        <span class="infoListLower__item__text--first">“
                        </span>
                        It is free. we will extend the feautures<br>
                        to cater for enterprise needs but your<br>
                        personal account will stay free.<br>
                        <span class="infoListLower__item__text--author">
                            -Jorge Araluce
                        </span>
                        </span>
                </li>
                <li class="infoListLower__item">
                    <img src="../images/avatar.png" alt="Avatar" class="infoListLower__item__pic">
                    <span class="infoListLower__item__text">
                        <span class="infoListLower__item__text--first">“
                        </span>
                        It is free. we will extend the feautures<br>
                        to cater for enterprise needs but your<br>
                        personal account will stay free.<br>
                        <span class="infoListLower__item__text infoListLower__item__text--author">
                            -Jorge Araluce
                        </span>
                        </span>
                </li>
            </ul>
            <div class="infoButton">
                <a href="#" class="infoButton__link">
                    <img src="../images/rightarrow.png" alt="Button" class="infoButton__img">
                </a>
            </div>
        </div>
    </div>
</div>