<div class="why-section">
    <div class="why-upper">
        <div class="container">
            <h2 class="why-heading">
                <span class="why-heading-main">Why?</span>
                <small class="why-heading-description">Engage in relevant conversations</small>
            </h2>
            <div class="why-menu">
                <ul class="why-list">
                    <li class="why-list-item">
                        <div class="why-item">
                            <img src="../images/buble.png" alt="" class="why-item-pic">
                            <div class="why-item-text"><b>Save time</b> and <b>pain</b> by<br>
                                focusing on the information<br>
                                that matters in a eficient way.
                            </div>
                        </div>
                    </li>
                    <li class="why-list-item">
                        <div class="why-item">
                            <img src="../images/people.png" alt="" class="why-item-pic">
                            <div class="why-item-text">Develop a <b>quality</b> network of<br>
                                professionals based on what<br>
                                topics they care and share.
                            </div>
                        </div>
                    </li>
                    <li class="why-list-item">
                        <div class="why-item">
                            <img src="../images/direction.png" alt="" class="why-item-pic">
                            <div class="why-item-text"><b>Position</b> your <b>expertise</b> and<br>
                                <b>extend your reach</b><br>
                                by adding value to the right context.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="why-button">
                <a href="#" class="button">build a smart filter now
                </a>
            </div>
        </div>
    </div>
    <div class="why-lower rounded-section">
        <div class="container">
            <div class="why-navi">
                <ul class="navi-list">
                    <li class="navi-list-item list__item--modified">
                        <a href="#" class="navi-list-link"></a>
                    </li>
                    <li class="navi-list-item list-item-h"></li>
                    <li class="navi-list-item list__item--modified">
                        <a href="#" class="navi-list-link"></a>
                    </li>
                    <li class="navi-list-item list-item-h"></li>
                    <li class="navi-list-item list__item--modified">
                        <a href="#" class="navi-list-link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>